body{
    background-image: url(Image/vege.jpg);
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

header{
    background-color:green;
    margin: -8px;
}

footer{
    color:  green;
    background: green;
    margin: -8px;
    padding: 30px;
}

a:link{
    text-decoration: none;
    color: black;
}

#link {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

#searchbar{
    background: greenyellow;
    border-radius: 20px;
    text-align: center;
    border: none;
}

#presentation,h2{
    text-align: center;
}

#presentation{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, 
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.photo{
    width: 200px;
    height: 140px;
    margin-bottom: 5px;
}

.Img{
    background-color: lightgray;
    box-shadow:
        inset 0px 11px 8px -10px greenyellow,
        inset 0px -11px 8px -10px greenyellow;
    margin-bottom: 60px;
}

.Img>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin:50px;
    padding: 20px;
}

#article{
    display: flex;
    justify-content: space-around;
}

article{
    margin: 20px;
    padding: 10px;

    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, 
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}