body{
    background-image: url(Image/vege.jpg);
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

header{
    background-color:green;
    margin: -8px;
}

footer{
    color:  green;
    background: green;
    margin: -8px;
    padding: 30px;
}

a:link{
    text-decoration: none;
    color: black;
}

#link {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

#searchbar{
    background: greenyellow;
    border-radius: 20px;
    text-align: center;
    border: none;
}

main{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.img{
    width: 175px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: 20px;

    box-shadow: rgba(85, 240, 46, 0.4) 0px 5px,
        rgba(88, 240, 46, 0.3) 0px 10px, 
        rgba(91, 240, 46, 0.2) 0px 15px, 
        rgba(88, 240, 46, 0.1) 0px 20px, 
        rgba(137, 240, 46, 0.05) 0px 25px;
}